
.btn-white{
    color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.left-nav div a{
    font-weight: bold;
}
.fa-location-dot{
    font-size: 20px;
}

.header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0;
    padding: 0;
}
/* body */
.body{
    padding: 20px;
    background-color: #008248;
}

.parts-body img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
/* footer */
footer div a{
    text-decoration: none;
    color: white;
    margin: 5px 5px;
}
footer div a:hover{
    text-decoration: underline;
}